body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #f8f7f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  width: 90%;
  height: 100vh;
}

#header {
  width: 95%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  justify-content: space-between;
  padding-right: 70px;
}

.header_items {
  width: 50%;
  display: flex;
  gap: 70px;
  align-items: center;
}

.button {
  font-size: 18px;
  font-family: "Signika";
  font-weight: 300px;
  font-style: normal;
  color: #404a3d;
  cursor: pointer;
}

.home_image {
  width: 100%;
  height: 800px;
  border-radius: 50px;
  background-image: url("/Project/Imges/image.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.sent {
  font-size: 78px;
  font-family: "Signika";
  font-weight: 700px;
  font-style: normal;
  color: white;
  width: 60%;
  text-align: center;
}

.image_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image_box_bt {
  border-radius: 30px;
  border: 0px;
  width: 180px;
  height: 50px;
  font-size: 16px;
  font-family: "Signika";
  font-weight: 300px;
  font-style: normal;
}

#get_started_bt {
  background-color: #eddd5e;
}

#discover_bt {
  color: black;
  background-color: white;
}

#discover_bt:hover {
  background-color: #c2c1c1 !important;
}

.image_box_buttons {
  display: flex;
  gap: 30px;
}

.website_nm {
  font-size: 78px;
  font-family: "Signika";
  font-weight: 700px;
  font-style: normal;
  font-size: 36px;
  cursor: pointer;
  color: black;
}

.search_icon {
  width: 50px;
  height: 50px;
  background-image: url("/Project/Imges/Icon.png");
  background-size: cover;
  cursor: pointer;
  border: none;
  background-color: #f8f7f0;
}

.search_icon:hover {
  transform: translateY(-1px);
}

#login_bt {
  background-color: #eddd5e;
}

.right_header {
  display: flex;
  gap: 20px;
}

.image_box_bt:hover {
  cursor: pointer;
  background-color: #bdac43 !important;
}

.links {
  text-decoration: none;
}
